.wl-cb-tooltip {
    position: absolute; 
    right: 0; 
    top: 50%; 
    transform: translate(calc(100% + 7px), -50%); 
    background-color: var(--primary-color); 
    color: var(--secondary-color); 
    padding: 5px; 
    border-radius: 5px;
}

.wl-cb-tooltip::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(calc(0% - 6px), -50%);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid var(--primary-color);
}
