server {
        root /var/www/html;
        index index.html index.htm index.nginx-debian.html;

        server_name localhost;

        location / {
                proxy_pass https://localhost:8080;
        }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /security/localhost4488.pem; # managed by Certbot
    ssl_certificate_key /security/localhost-privateKey4488.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

  ssl_stapling on;
  ssl_stapling_verify on;

  add_header Strict-Transport-Security "max-age=15768000; includeSubdomains; preload;";
  add_header Content-Security-Policy "default-src 'none'; frame-ancestors 'none'; script-src 'self'; img-src 'self'; style-src 'self'; base-uri 'self'; form-action 'self';";
  add_header Referrer-Policy "no-referrer, strict-origin-when-cross-origin";
  add_header X-Frame-Options SAMEORIGIN;
  add_header X-Content-Type-Options nosniff;
  add_header X-XSS-Protection "1; mode=block";
}

server {
    if ($host = localhost) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    if ($host = my_site.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

  listen 80 default_server;
  listen [::]:80 default_server;

  server_name localhost;

    return 404; # managed by Certbot
}