* {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}

#chatroot {
	display: flex;
	width: 100%;

	margin: 0;
	padding: 0;	
	box-sizing: border-box;

	background-color: #0c0f2c;

	--primary-color: #2182df;
	--secondary-color: #ffffff;
	--companion-avatar-url: undefined;
	--primary-shadow: 0 0 25px 1px rgba(0,0,0,0.1);
}

.scale-50 {
	scale: 50%;
}

.d-none {
	display: none;
}

.hidden {
	visibility: hidden;
}

.float-right {
	float: right;
}

.wl-cb-avatar {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.networkIndicator {
	position: absolute;
	height: 10px;
	width: 10px;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	border: 0.25px solid black;
}

.networkIndicator-online {
	background-color: lightgreen;
}

.networkIndicator-offline {
	background-color: crimson;
}

.slider {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-color: black;
	box-shadow: var(--primary-shadow);
}

.slider-indicator {
	position: absolute;
	display: flex;
	width: 13%;
	top: 50%;
	transform: translate(0, -50%);
	border-radius: 50%;
	box-shadow: var(--primary-shadow);
	background-color: var(--primary-color);
}

.slider-indicator::after {
	content: "";
	width: 100%;
	padding-bottom: 100%;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.max-h-400 {
	max-height: 400px;
}

.max-w-400 {
	max-width: 400px;
}

.top-0 {
	top: 0;
}

.right-0 {
	right: 0;
}

.p-2d5 {
	padding: 2.5px;
}

.p-5 {
	padding: 5px;
}

.p-15 {
	padding: 15px;
}

.br-full {
	border-radius: 100%;
}

.border-primary {
	border: 0.25px solid var(--primary-color);
}

.border-secondary {
	border: 0.25px solid var(--secondary-color);
}

.photo {
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mb-0 {
	margin-bottom: 0px;
}

.mb-5 {
	margin-bottom: 5px;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-btw {
	justify-content: space-between;
}

.flex-center {
	justify-content: center;
}

.flex-end {
	justify-content: flex-end;
}

.items-center {
	align-items: center;
}

.btn {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid var(--primary-color);
	outline: none;
	padding: 2.5px 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.4);
}

.save {
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.cancel {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

.btn:hover {
	opacity: 0.75;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

.cursor-pointer {
	cursor: pointer;
}

.mw-full {
	max-width: 100%;
}

.whitespace-pre {
	white-space: pre;
}

.whitespace-nowrap {
	white-space: nowrap;
}

.m-5 {
	margin: 5px;
}

.fs-10 {
	font-size: 10px;
}

.w-200 {
	width: 200px;
}

.w-half {
	width: 50%;
}

.br-5 {
	border-radius: 5px;
}

.br-15 {
	border-radius: 15px;
}

.oveflow-hidden {
	overflow: hidden;
}

.bef {
	position: relative;
}

.bg-primary50::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--primary-color);
	opacity: 0.4;
}

.bg-primary {
	position: relative;
	background-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.color-primary {
	color: var(--primary-color);
}

.color-secondary {
	color: var(--secondary-color);
}

.color-remove {
	color: red;
}

.top-half {
	top: 50%;
}

.left-55 {
	left: 55px;
}

.left-half {
	left: 50%;
}

.translate-center {
	transform: translate(-50%, -50%);
}

.fixed {
	position: fixed;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.flex-grow {
	flex-grow: 1;
}

.mv-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.mv-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.mv-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.mg-5 {
	margin-left: 5px;
	margin-right: 5px;
}

.ml-5 {
	margin-left: 5px;
}

.mr-5 {
	margin-right: 5px;
}

.m-auto {
	margin: auto;
}

.opacity-50 {
	opacity: 0.5;
}

.opacity-1-hover:hover {
	opacity: 1;
}

.section-title {
	font-weight: 700;
	color: var(--primary-color);
}

.section-solid {
	height: 1px;
	width: 100%;
	background-color: var(--primary-color);
}

.h-opacity-075:hover {
	opacity: 0.75;
}

.h-opacity-075:hover {
	opacity: 1;
}

.h-10 {
	height: 10px;
	min-height: 10px;
}

.h-25  {
	height: 25px;
	min-height: 25px;
}

.w-25 {
	width: 25px;
	min-width: 25px;
}

.w-10 {
	width: 10px;
	min-width: 10px;
}

.bottom-0 {
	bottom: 0;
}

.right-0 {
	right: 0;
}

.fixed {
	position: fixed;
}

.h-screen {
	height: 100vh;	
}

.h-full {
	height: 100%;
}

.fw-700 {
	font-weight: 700;
}

.bg-overlay {
	z-index: 2;
	display: flex;
	position: absolute;
}

.bg-overlay::before {
	z-index: 1;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4444;
	position: absolute;
	background-color: var(--primary-color);
}

.w-full {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

.chat-icon {
	cursor: pointer;
}

.chat-icon:hover {
	opacity: 0.75;
}

.chat-icon-show {
	display: flex;
}

.chat-icon-hide {
	display: none;
}

.rotate-270 {
	transform: rotate(270deg);
}

.wlcb-checkbox {
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--primary-color);
	border: 0.25px solid var(--primary-color);
}

.wlcb-checkbox-hitmark {
	position: absolute;
	height: 7px;
	width: 7px;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--secondary-color);
}

.fz-21 {
	font-size: 21px;
}

.bs-cover {
	background-size: cover;
}

.bp-center {
	background-position: center;
}

.brepeat-no {
	background-repeat: no-repeat;
}

.w-fit-content {
	width: fit-content;
}

.h-fit-content {
	height: fit-content;
}

.wl-cb-mobile-only {
	display: none;
}